@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --fnt-mt: 'Montserrat', sans-serif;
    --fnt-pop: 'Poppins', sans-serif;
    --fnt-sm: 1.5em;
    --fnt-xl: 7em;
}

html {
    font-size: 62.5%;
}

/* nav */

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.nav__logo {
    width: clamp(7rem, 1.875rem + 6.25vw, 14rem);
}

#nav__bars {
    font-size: 4em;
}

/* hero */

.hero {
    background-image: url('/img/hero-background.png');
    background-position: top 0 left -50px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    margin-bottom: 50px;
}

.hero__title {
    font-family: var(--fnt-mt);
    font-size: var(--fnt-xl);
    text-align: center;
}

.hero__txt {
    font-family: var(--fnt-pop);
    font-size: var(--fnt-sm);
    padding: 20px;
    text-align: justify;
}


/* about me */

.about {
    background-image: url('/img/about-background.png');
    background-position: top 0 right 70px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    padding: 70px 0 0 0;
}

.about__title {
    font-family: var(--fnt-mt);
    font-size: var(--fnt-xl);
    text-align: center;
    line-height: 0.7em;
}

.about__txt {
    font-family: var(--fnt-pop);
    font-size: var(--fnt-sm);
    padding: 20px;
    text-align: justify;
}