@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --fnt-mt: 'Montserrat', sans-serif;
    --fnt-pop: 'Poppins', sans-serif;
    --fnt-xsm: 1.3em;
    --fnt-sm: 1.5em;
    --fnt-md: 3em;
    --fnt-xl: 7em;
}

html {
    font-size: 62.5%;
}

/* nav */

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.nav__logo {
    width: clamp(7rem, 1.875rem + 6.25vw, 14rem);
}

#nav__bars {
    font-size: 4em;
}

/* hero */

.hero {
    align-items: flex-start;
    background-image: url('/img/hero-background.png');
    background-position: top 0 left -50px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 60vh;
    margin-block: 70px 50px;
    padding: 20px;
}

.hero__title {
    font-family: var(--fnt-mt);
    font-size: var(--fnt-xl);
    text-align: center;
}

.hero__txt {
    font-family: var(--fnt-pop);
    font-size: var(--fnt-sm);
    padding: 20px;
    text-align: justify;
}

/* about me */

.about {
    align-items: flex-start;
    background-image: url('/img/about-background.png');
    background-position: top 0 right 70px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 60vh;
    padding-top: 70px;
    padding: 20px;
}

.about__title {
    font-family: var(--fnt-mt);
    font-size: var(--fnt-xl);
    text-align: center;
    line-height: 0.7em;
}

.about__txt {
    font-family: var(--fnt-pop);
    font-size: var(--fnt-sm);
    padding: 20px;
    text-align: justify;
}

/* education */

.education {
    align-items: flex-start;
    background-image: url('/img/education-background.png');
    background-position: bottom -100px right 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: var(--fnt-mt);
    height: 60vh;
    padding: 20px;
}

.education__title {
    font-size: var(--fnt-md);
    margin-bottom: 30px;
    text-align: center;
}

.education__year,
.education__sub-title {
    font-size: var(--fnt-sm);
}

.education__sub-title {
    margin-bottom: 5px;
}

.education__txt {
    font-size: var(--fnt-xsm);
}

.education__line {
    background: black;
    border: none;
    color: transparent;
    height: 1px;
    margin-bottom: 15px;
    margin-top: 20px;
    outline: none;
    max-width: 70%;
}

/* skills */

.skills {
    align-items: flex-start;
    background-image: url('/img/about-background.png');
    background-position: bottom -100px left 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: var(--fnt-mt);
    height: 60vh;
    justify-content: center;
    padding: 20px;
}

.skills__title,
.skills__sub-title,
.skills__txt {
    font-family: var(--fnt-mt);
}

.skills__title {
    font-size: 2.5em;
    font-weight: 500;
}

.skills__sub-title {
    font-size: var(--fnt-md);
    margin-bottom: 15px;
}

.skills__bar-title {
    font-family: var(--fnt-pop);
    font-weight: 700;
}

.skills__txt {
    font-size: var(--fnt-xsm);
    margin-top: 15px;
}

/* progress bar */

.progress__bar {
    background: #bcbbbb;
    border-radius: 3px;
    height: 10px;
    margin: 10px 20px;
    overflow: hidden;
    position: relative;
    width: 250px;
}

.progress__bar span{
    background-color: black;
    height: 100%;
    position: absolute;
    width: 90%;
}

/* experience */

.experience {
    background-image: url('/img/experience-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--fnt-mt);
    height: 100%;
    margin-top: 80px;
    padding: 20px;
}

.experience__title {
    font-size: 2.5em;
    font-weight: 500;
}

.experience__sub-title {
    font-size: var(--fnt-md);
    margin-bottom: 15px;
}

.experience__img {
    width: 100%;
    margin-block: 5px;
} 

/* grid */

.grid {
    display: grid;
}

/* projects */

.projects {
    background-image: url('/img/projects-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--fnt-mt);
    height: 100%;
    margin-top: 50px;
    padding: 20px;
}

.projects__title {
    font-size: 2.5em;
    font-weight: 500;
}

.projects__sub-title {
    font-size: var(--fnt-md);
    font-weight: 700;
    margin-bottom: 15px;
}

.projects__txt {
    font-size: var(--fnt-xsm);
    margin-block: 15px;
}

.projects_img {
    margin-block: 5px;
    width: 100%;
}

/* selected works */

.selected-works {
    background-image: url('/img/selected_works-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--fnt-mt);
    height: 100%;
    margin-top: 50px;
    padding: 20px;
}

.selected__title {
    font-size: 2.5em;
    font-weight: 500;
}

.selected__sub-title {
    font-size: var(--fnt-md);
    font-weight: 700;
}

.selected__txt {
    font-size: var(--fnt-xsm);
    margin-block: 15px;
}

.selected__img {
    width: 100%;
    margin-block: 5px;
}

/* clients */

.clients {
    font-family: var(--fnt-mt);
    background-image: url('/img/clients-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-top: 50px;
    padding: 20px;
}

.clients__title {
    font-size: var(--fnt-md);
    font-weight: 700;
}

.clients__sub-title {
    font-size: 2.5em;
    font-weight: 500;
}

.clients__txt {
    font-size: var(--fnt-xsm);
    margin-block: 20px;
}

.clients__list {
    list-style-type: disc;
    font-size: 1.2em;
    margin-left: 15px;
    margin-block: 10px;
}

/* footer */

.footer-main {
    align-items: flex-start;
    background-image: url('/img/footer-background.png');
    background-position: bottom -50px right -50px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: var(--fnt-mt);
    height: 40vh;
    justify-content: center;
    padding-top: 50px;
    padding: 20px;
}

.footer__title {
    font-size: 2.5em;
    font-weight: 500;
}

.footer__sub-title {
    font-size: var(--fnt-md);
    font-weight: 700;
}

.footer__email {
    font-size: 1.7em;
    font-weight: 600;
}

.footer__logo {
    width: clamp(7rem, 1.875rem + 6.25vw, 14rem);
}

.footer__line {
    background: black;
    border: none;
    height: 1px;
    margin-bottom: 15px;
    margin-top: 20px;
    max-width: 70%;
    outline: none;
    width: 50%;
}